.AnswerItem {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.AnswerItem:hover {
    background: linear-gradient(90deg, #823aef, #d2cbf5 100%);
    transition: background .3s ease-in-out;
}

.AnswerItem.success {
    background: #27842f;
}

.AnswerItem.error {
    background: #f34f52;
}
